.header {
  background-color: #1791fc;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  margin-top: 120px;
  height: 400px;
  width: 100%;
}

.header-avatar {
  position: relative;
  margin: 0 auto;
  width: 256px;
}

.header-name {
  position: relative;
  margin: 0 auto; 
  width: 172px;
  bottom: 50px;
}
