.new-tweet {
  position: relative;
  top: -20px;
  height: 100%;
}

.new-tweet-form {
  position: relative;
  background-color: #F5F1ED;
  font-family: 'Source Sans Pro', sans-serif;
  height: 150px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

#form-question {
  position: relative;
  margin: 20px;
  font-weight: bold;
}

.new-tweet-text {
  width: 97%;
  border: none;
  border-bottom: 4px solid #545149;
  background-color: #F5F1ED;
  color: #202020;
  resize: none;
  height: 50px;
  position: absolute;
  bottom: 70px;
  left: 20px;
  font-size: 20px;
}

#new-tweet-submit-btn {
  position: absolute;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  padding: 3px 10px 3px 10px;
  bottom: 25px;
  left: 18px;
  margin-top: 20px;
}

.new-tweet-counter {
  font-family: 'Bungee', cursive;
  position: absolute;
  bottom: 40px;
  right: 15px;
}

.new-tweet-negative-counter {
  color: #FF0000;
}

.new-tweet-error {
  display: none;
  position: relative;
  font-size: 20px;
  color: #FF0000;
  left: 20px;
  width: 97%;
  padding: 2px 0 2px 4px;
  border: 2px solid #FF0000;
}