$position-rel: relative;
$position-abs: absolute;
$header-font: "Bungee", cursive;
$red-color: #ff0000;

.new-tweet {
  position: $position-rel;
  top: 10px;
  height: 100%;
  display: none;
  
  div {
    display: none;
    position: $position-rel;
    font-size: 20px;
    color: $red-color;
    width: fit-content;
    text-align: center;
    padding: 2px 10px 2px 10px;
    border: 2px solid $red-color;
  }

  form {
    position: $position-rel;
    background-color: #f5f1ed;
    font-family: "Source Sans Pro", sans-serif;
    height: 150px;
    margin: 0 auto;

    label {
      position: $position-rel;
      font-weight: bold;
    }

    textarea[name="text"] {
      width: 100%;
      border: none;
      border-bottom: 4px solid #545149;
      background-color: #f5f1ed;
      color: #202020;
      resize: none;
      height: 30px;
      position: $position-rel;
      font-size: 20px;
    }

    button[type="submit"] {
      position: $position-abs;
      background-color: #4056a1;
      font-family: $position-abs;
      color: #ffffff;
      padding: 3px 10px 3px 10px;
      bottom: 45px;
      left: 0px;
      margin-top: 20px;
    }

    output[name="counter"] {
      font-family: $position-abs;
      position: $position-abs;
      bottom: 60px;
      right: 0px;
    }

    .new-tweet-negative-counter {
      color: $red-color;
    }
  }
}

@media (min-width: 768px) {
  .new-tweet {
    top: 40px;

    form {
      textarea[name="text"] {
        height: 50px;
      }
    
      button[type="submit"] {
        bottom: 25px;
      }
    
      output[name="counter"] {
        bottom: 40px;
      }
    }
  }
}
